        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .cabezera {
            border: 1px solid #999;
            margin: 10px;
        }

        .titulo {
            background-color: #666;
            color: white;
            font-size: 28px;
            font-weight: bold;
            padding: 10px;
        }

        .cuerpo {
            padding: 20px;
            text-align: justify;
        }

        .pie {
            text-align: center;
            background-color: #666;
            padding: 5px 0;
        }

        .pie p {
            color: yellow;
            text-decoration: none;
            font-weight: bold;
        }

        .cuerpo p {
            text-indent: 40px;
        }